<app-nav-bar>
    <ng-container>
        <h2>Cadastrar Funcionario</h2>
        <form #formFuncionario="ngForm">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input type="text" name="nome" matInput [(ngModel)]="funcionario.nome" required>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>CPF</mat-label>
                <input type="text" name="cpf" matInput  [(ngModel)]="funcionario.cpf" required>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input type="email" name="email" matInput [(ngModel)]="funcionario.email" required>
            </mat-form-field>
            
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Cargo</mat-label>
                <mat-select name="cargo" [(value)]="funcionario.cargo.idCargo" required>
                    <mat-option *ngFor="let cargo of cargos" [value]="cargo.idCargo">
                        {{cargo.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <input type="password" name="senha" matInput [(ngModel)]="funcionario.senha" required>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" (click)="update(formFuncionario)">Cadastrar</button>
            <a type="button" mat-raised-button color="warn" routerLink="/funcionarios">Cancelar</a>
        </form>
    </ng-container>
</app-nav-bar>

