<app-nav-bar>
    <ng-container>
        <h2>Editar Cargo</h2>
        <form #formEdit="ngForm">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input type="text" name="nome" matInput [(ngModel)]="cargo.nome" required>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Descrição</mat-label>
                <input type="text" name="descricao" matInput [(ngModel)]="cargo.descricao" required>
            </mat-form-field>
          
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Salario</mat-label>
                <input type="text" matInput name="salario" [(ngModel)]="cargo.salario">
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" (click)="update(formEdit)">Editar</button>
            <a type="button" mat-raised-button color="warn" routerLink="/funcionarios">Cancelar</a>
        </form>        
    </ng-container>    
</app-nav-bar>


