mat-drawer-container {
    width: 100%;
    height: 100%;
}

mat-drawer {
    padding: 20px;
}

mat-nav-list a i {
    margin-right: 10px;
}

.active {
    font-weight: bold;
}

.container {
    width: clamp(300px, 90%, 1400px);
    margin: 50px auto 0 auto;
    padding: 0 30px;
}